@import url(./root.css);

body {
  background-color: var(--gray);
}

main {
  display: flex;
  flex-direction: row;
}

.sec-logo {
  background-color: var(--grayBlue);
  height: 100vh;
  width: 50%;
  border-right: 1px solid var(--stroke);
}

form {
  width: 100%;
  height: 100%;
}

.sec-logo-img {
  width: 30%;
}

.sec-search {
  background-color: var(--bluesky);
  height: 100vh;
  width: 50%;
}
.selector-options {
  background-color: transparent;
  color: var(--white);
  border: none;
  padding: 20px;
}

.sec-details {
  position: fixed;
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  height: 4vh;
}
