@import url(./root.css);

body {
  background-color: var(--gray);
}

main {
  display: flex;
  flex-direction: row;
}

.sec-logo {
  background-color: var(--backgroundMainColor);
  height: 100vh;
  width: 50%;
  border-right: 1px solid var(--stroke);
}

form {
  width: 100%;
  height: 100%;
}

.sec-logo-img {
  width: 30%;
}

.sec-search {
  background-color: var(--backgroundSecondColor);
  height: 100vh;
  width: 50%;
}
@media (max-width: 800px) {
  main {
    display: flex;
    flex-direction: column;
  }
  .sec-logo {
    width: 100%;
    border-bottom: 1px solid var(--stroke);
    height: 30vh;
  }
  .sec-search {
    width: 100%;
    height: 100%;
  }
  form {
    width: 100%;
    height: 75vh;
  }
}
