@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  overflow: hidden;
  transition: 0.25s all ease-in;
  font-family: "Inter", sans-serif;
}

:root {
  --bluesky: #121619;
  --grayBlue: #a8c256;
  --white: #ffffff;
  --gray: #ccdad1;
  --blue: #2e5eaa;
  --red: #bb342f;
  --green: #4e6e5d;
  --stroke: #3a3a3a;
  --strokeHover: #bbb;
}

.inp {
  text-align: center;
  width: 50%;
  height: 55px;
  padding: 20px;
  background-color: transparent;
  border: none;
  color: var(--grayBlue);
  font-size: 16px;
  border: 1px solid var(--grayBlue);
  border-radius: 5px;
}
.inp:hover {
  opacity: 0.8;
}
.inp:focus {
  width: 70%;
}
.btns {
  right: 0;
  position: fixed;
  bottom: 0;
}

.btn {
  padding: 10px;
  margin: 20px;
  cursor: pointer;
  background-color: transparent;
  color: #b5b5b5;
  border: none;
}
.btn:hover {
  opacity: 0.9;
  color: var(--grayBlue);
}
.div-details {
  background-color: var(--green);
  width: 100vw;
  top: 20px;
  color: var(--white);
  margin: 25px;
  border-radius: 5px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border: 1px solid var(--stroke);
  display: none;
}
.active {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
