@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  overflow: hidden;
  transition: 0.25s all ease-in;
  font-family: "Inter", sans-serif;
}

:root {
  --backgroundSecondColor: #121619;
  --backgroundMainColor: #a8c256;
  --white: #ffffff;
  --gray: #b5b5b5;
  --stroke: #3a3a3a;
  --strokeHover: #bbb;
}

.inp {
  text-align: center;
  width: 50%;
  height: 55px;
  padding: 20px;
  background-color: transparent;
  border: none;
  color: var(--backgroundMainColor);
  font-size: 16px;
  border: 1px solid var(--backgroundMainColor);
  border-radius: 5px;
}
.inp:hover {
  opacity: 0.8;
}
.inp:focus {
  width: 70%;
}
.btns {
  right: 0;
  position: fixed;
  bottom: 0;
}

.btn {
  padding: 10px;
  margin: 20px;
  cursor: pointer;
  background-color: transparent;
  color: var(--gray);
  border: none;
}
.btn:hover {
  opacity: 0.9;
  color: var(--backgroundMainColor);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
